<ion-header padding>
    <ion-title>
        Sales and Inventory
    </ion-title>
</ion-header>
<ion-content padding>
    <div>
        <span *ngIf="showRequired">All Fields are required</span>
        <ion-item>
            <ion-label stacked>From Date
                <ion-icon name="calendar" class="calIcon"></ion-icon>
            </ion-label>
            <!-- <ion-input type="date" placeholder="From Date" [(ngModel)]="prd.frmDate"></ion-input> -->
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="prd.frmDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked>To Date
                <ion-icon name="calendar" class="calIcon"></ion-icon>
            </ion-label>
            <!--  <ion-input type="date" placeholder="To Date" [(ngModel)]="prd.toDate"></ion-input> -->
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="prd.toDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="prd.cat">
                <ion-option value="1">All</ion-option>
                <ion-option value="2">Furniture</ion-option>
                <ion-option value="3">Clothing</ion-option>
                <ion-option value="4">Electronics</ion-option>
            </ion-select>
        </ion-item>
        <button class="ok-btn" ion-button block (click)="getList(prd)">OK</button>
    </div>
    <div *ngIf="showTbl">
        <div class="test" style="overflow-x:auto; margin:20px 0px;">
            <table style="width:800px;">
                <tr class="row header">
                    <th class="col">ReceiptNumber</th>
                    <th class="col">OrderNumber</th>
                    <th class="col">ReceiptDate</th>
                    <th class="col">CustomerName</th>
                    <th class="col">TotalSale</th>
                    <th class="col">AmountPaid</th>
                </tr>
                <tr class="row" *ngFor="let d of data.daycloseData">
                    <td class="col">{{d.ReceiptNumber}}</td>
                    <td class="col">{{d.OrderNumber}}</td>
                    <td class="col">{{d.ReceiptDate}}</td>
                    <td class="col">{{d.CustomerName}}</td>
                    <td class="col">{{d.TotalSale}}</td>
                    <td class="col">{{d.AmountPaid}}</td>
                </tr>
            </table>
        </div>
        <!--         <span>No Result Found</span>
 -->
        <ion-card>
            <ion-card-content>
                Total : {{(data.Total > 0) ? data.Total : 0 }}
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Total cash : {{(data.TaotalCash > 0) ? data.TaotalCash : 0 }}
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Total card : {{(data.TotalCard > 0) ? data.TotalCard : 0 }}
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Gift Cheque : {{(data.GiftCheque > 0) ? data.GiftCheque : 0 }}
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Total Quantity : {{(data.TotalQuantity > 0) ? data.TotalQuantity : 0 }}
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
