page-home {
    ion-header {
        background: #ff0000 !important;
    }
    ion-title {
        color: #fff !important;
        font-weight: bold;
    }
    table {
        border: none;
    }
    th {
        background: #fff;
        border: 1px solid #000;
    }
    tr {
        background: #ffff99;
        border: 2px solid #fff;
    }
    td {
        text-align: center;
    }
    ion-label {
        font-size: 18px !important;
        color:#000 !important;
    }
    .calIcon{float:right;position: absolute; right: 0; bottom: 10px; font-size: 35px;} 
    .toolbar-title{color:#fff;}
    .ok-btn{background: #ff0000 !important;color:#fff;margin-top:15px;}
}
